$cWhite: white;
$cBlack: black;

.try {
  & .btn {
    position: relative;
    display: inline-block;
    background-color: $cWhite;
    border: 1px solid $cBlack;
    font-weight: 600;
    padding: 10px 40px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s;
    color: $cBlack;
    text-decoration: none !important;
    
    &.float:hover{
        background-color: $cBlack;
        color:$cWhite;
      }
    &.filled{
      background-color: $cBlack;
      color:$cWhite;
      &:hover{
      background-color: $cWhite;
      color:$cBlack;
      }
    }
    &.letter-spacing:hover{
      background-color: $cBlack;
      color:$cWhite;
      letter-spacing: 2px;
    }
    &.shadow{
      &:hover{
        box-shadow: 5px 5px 0px 0px $cBlack;
        transform: translate( -1px, -1px);
      }
    }
    &.solid{
      box-shadow: 2px 2px 0px 0px $cBlack;
      border-radius: 6px;
      &:hover{
        box-shadow:none;
        transform: translate( 3px, 3px);
      }
    }
  }
}
